<html lang='en'>
	<head>
		<meta charset='UTF-8' />
		<meta name='viewport' content='width=device-width, initial-scale=1.0' />
		<meta http-equiv='X-UA-Compatible' content='ie=edge' />
		<title>Photo Gallery</title>
		<link
			href='https://cdn.jsdelivr.net/npm/bootswatch@4.5.2/dist/materia/bootstrap.min.css'
			rel='stylesheet'
		/>
		<link
			rel="stylesheet"
			href="https://unpkg.com/swiper@7/swiper-bundle.min.css"
		/>
	</head>
	<body>
		
        {{>navigation}}

        <div class="container p-5">
            {{{body}}}
        </div>

		<script src="https://unpkg.com/swiper@7/swiper-bundle.min.js"></script>
		<script>
			const swiper = new Swiper('.swiper', {
				effect: 'coverflow',
				grabCursor: true,
				centeredSlides: true,
				slidesPerView: 'auto',
				coverflowEffect: {
					rotate: 50,
					stretch: 0,
					depth: 100,
					modifier: 1,
					slideShadows: true,
				},
				pagination: {
					el: '.swiper-pagination',
				},
			});
		</script>
	</body>
</html>